body {
  display: grid;
  justify-content: center;
  grid-template-rows: 3fr 4fr;
  font-family: Arial, Helvetica, sans-serif;
}
#positive-message {
  color: #e8e8e8;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  align-self: end;
  margin-bottom: .5em;
}
#timer-module {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 60px;
  border-radius: 10px;
  display: grid;
  justify-self: center;
  align-self: start;
}
#timer {
  color: white;
  background: none;
  border: none;
  padding: 0;
  font-size: 7.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
#controls {
  justify-self: center;
  cursor: pointer;
  padding: 0em .25em;
}
#controls img {
  padding: 0em 1em;
}